nav {
    position: fixed;
    top: 0;
}

h1 {
    margin-top: 150px;
    text-align: center;
}

.card {
    background-color: #e6e1db;
    margin: 50px;
    box-shadow: 0 3px 5px #b9b2ab;
    overflow-x: hidden;
}

.card:hover {
    background-color: #b9b2ab;
}

.card:hover h6 {
    background-color: #e6e1db;
}

img {
    transition: all .3s;
}

.card:hover img {
    transform: scale(1.2);
}

.card .header {
    /* background-color: pink; */
    height: 200px;
}

.card-group.main {
    padding: 0 100px;
}   

.card h6 {
    background-color: #b9b2ab;
    width: max-content;
    padding: .3em .8em;
    border-radius: 1em;
    transition: all .3s;
}

footer {
    margin-top: 100px;
}