/* style pada card */
.card {
  margin-top: 80px;
}

.card h6 {
  background-color: #e0a328;
}

/* style untuk card ke 2 */
.card:nth-child(2) {
  transform: scale(1.1);
}

/* style untuk p pertama */
.card p:nth-child(1) {
  background-color: #e0a328;
  padding: 0.4em 0;
  text-align: center;
  color: black;
  font-weight: 500;
  letter-spacing: 0.05em;
  word-spacing: 2px;
}

/* untuk p 3 */
.card p:nth-child(3) {
  display: flex;
  justify-content: space-between;
}

/* untuk p3 span 1 */
.card p:nth-child(3) span:first-child {
  color: red;
  font-weight: 500;
}

/* untuk span pada p3 */
.card p:nth-child(3) span:last-child {
  color: #c58912;
  font-weight: bolder;
  text-decoration: line-through;
}
